@font-face {
  font-family: font-primary;
  src: url(assets/fonts/RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
  font-family: font-secondary;
  src: url(assets/fonts/midnight-sans-rd-12-medium-trial.otf);
}

@font-face {
  font-family: font-accent;
  src: url(assets/fonts/RobotoMono-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.announcement-bar {
  background-color: #2a2857;
  height: calc(100% - 96%);
  width: 100%;
  color: white;
  font-family: font-accent;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*------------------ Navbar ------------------*/

nav {
  height: 12%;
  padding: 15px 15px;
}

.navbar {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  border: 1.5px solid black;
  background-color: #fffefb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*--------------------- Nav-Items-Left ------------------*/

.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 1.5rem, 2rem);
}

.nav-items-left {
  height: 100%;
  width: clamp(10rem, 40vw, 50rem);
  font-family: font-primary;
  padding-left: 1.5rem;
  font-size: clamp(1rem, 1.8vw, 2rem);
}

.nav-items span {
  border-radius: 50%;
  background-color: #c0dbff;
  border: 1.5px solid black;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-review span {
  border: none;
  background-color: transparent;
}

.nav-review i {
  color: #ffb500;
}

.nav-logo {
  height: 100%;
  width: clamp(5rem, 6vw, 12rem);
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 8px 0px;
}

.nav-items-right {
  height: 100%;
  width: clamp(10rem, 40vw, 50rem);
  font-family: font-accent;
  font-size: clamp(0.68rem, .8vw, 2.5rem);
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1.5rem;
}

.shop-icon{
  font-size: 2rem;
}

