@font-face {
  font-family: font-primary;
  src: url(assets/fonts/RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
  font-family: font-secondary;
  src: url(assets/fonts/midnight-sans-rd-12-medium-trial.otf);
}

@font-face {
  font-family: font-accent;
  src: url(assets/fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: font-display;
  src: url(assets/fonts/figtree.woff2);
}

:root {
  /*------------- colors -------------*/
  --primary-cta-color: #2a2857;
  --primary-brand-color: #C1EE91;
  --primary-brand-dark-color: #C0E571;
  --secondary-brand-color: #C8E892;
  --accent-brand-color: #B0E8C1;
  --display-brand-color: #c0dbff;
  --natural-brand-dark-color: #FFCB96;
  --natural-brand-light-color: #FFD1B8;
  --natural-brand-light-yellow: #FFD884;
  --lavender-brand-tag: #DAAEEA;
  --orange-brand-tag: #FF7F31;
  --green-brand-tag: #73BC25;
  --gold-brand-tag: #FFB500;

  --brand-testimonials-light-orange: #F5AF8A;
  --brand-testimonials-green: #ABDF74;
  --brand-testimonials-light-yellow: #FFD265;
  --brand-testimonials-light-green: #ADE674;
  --brand-testimonials-lavender: #D9C2E1;

  --testimonials-footer-red: #EA6D44;
  --testimonials-footer-green:#73BC25;
  --testimonials-footer-gold: #FFB500;
  --testimonials-footer-lavender: #C790DB;

  /*------------- padding ------------*/
  --cta-btn-padding: 1rem 4rem;
  --brand-tag-padding: 5px;
  --brand-explore-padding: 8px 15px;

  /*------------ font-size -----------*/
  --cta-btn-font-size: 1.2rem;

  /*-------------- font-weight ----------*/
  --cta-btn-font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #FBF9EB;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.announcement-bar {
  background-color: #2a2857;
  height: calc(100% - 96%);
  width: 100%;
  color: white;
  font-family: font-accent;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
}

/*------------------ Navbar ------------------*/

nav {
  height: 12%;
  width: 100%;
  padding: 15px 15px;
  position: fixed;
  top: calc(100% - 96%);
  z-index: 10;
}

.navbar {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  border: 1.5px solid black;
  background-color: #fffefb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*--------------------- Nav-Items-Left ------------------*/

.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 1.5rem, 2rem);
}

.nav-items-left {
  height: 100%;
  width: clamp(10rem, 40vw, 50rem);
  font-family: font-primary;
  padding-left: 1.5rem;
  font-size: clamp(1rem, 1.8vw, 2rem);
}

.nav-items span {
  border-radius: 50%;
  background-color: #c0dbff;
  border: 1.5px solid black;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-review span {
  border: none;
  background-color: transparent;
}

.nav-review i {
  color: #ffb500;
}

.nav-logo {
  height: 100%;
  width: clamp(5rem, 6vw, 12rem);
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 8px 0px;
}

.nav-items-right {
  height: 100%;
  width: clamp(10rem, 40vw, 50rem);
  font-family: font-accent;
  font-size: clamp(0.68rem, .8vw, 2.5rem);
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1.5rem;
}

.shop-icon{
  font-size: 2rem;
}

/*--------------- main --------------*/

main{
  height: 100vh;
  width: 100%;
}

.main{
  height: calc(100vh - 5%);
  width: 100%;
  background-image: url("assets/images/cere-memorial_matcha_wide.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 1.5rem;
  padding: 40px;
}

.main-heading{
  font-size: clamp(3.5rem, 6vw, 10rem);
  font-weight: 200;
  font-family: font-primary;
}

.main-subtitle{
  font-size: 1.2rem;
  font-family: font-display;
}

.main-cta-btn{
  padding: var(--cta-btn-padding);
  font-size: var(--cta-btn-font-size);
  font-weight: var(--cta-btn-font-weight);
  background-color: var(--primary-cta-color);
  color: white;
  border-radius: 10rem;
  border: none;
  transition: .3s ease;
}

.main-cta-btn:hover{
  background-color: white;
  color: black;
  cursor: pointer;
}

/*-------------------- featured-products-section -----------------*/

.featured-products{
  height: 160vh;
  width: 100%;
}

.featured-product-intro{
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-product-title {
  font-family: font-primary;
  font-size: clamp(2rem, 4vw, 7rem);
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.featured-cta-tag {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-tag {
  height: clamp(3.2rem, 4.8vw, 8rem);
  border: 2px solid black;
  border-radius: .5rem;
  background-color: var(--lavender-brand-tag);
  padding: var(--brand-tag-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(12rem, 18vw, 40rem);
  transform: rotate(-3deg);
}

.featured-tag-title {
  font-family: font-secondary;
  font-size: clamp(2.5rem, 4vw, 6rem);
  font-weight: 700;
}

.featured-products-slider {
  height: 50%;
  overflow-x: auto;
  background-color: gold;
  padding: 3rem 2rem;
  display: flex;
  gap: 2rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.featured-products-slider::-webkit-scrollbar {
  display: none;
}

.product-card {
  height: clamp(32rem, 65vh, 80rem);
  width: clamp(22.5rem, 22vw, 60rem);
  flex-shrink: 0;
  background-color: rosybrown;
  padding: 10px;
}

.product-card-image{
  height: 70%;
  width: 100%;
  border-radius: .8rem;
  border: 1px solid black;
}

.tropical-green-tea-card {
  background-color: var(--primary-brand-color);
  background-image: url("assets/images/organic_tropical_green_tea_sachet_featured.webp");
  background-size: contain;
}

.organic-ceremonial-card {
  background-color: var(--secondary-brand-color);
  background-image: url("assets/images/matcha-tin_featured.webp");
  background-size: contain;
}

.organic-pappermint-card {
  background-color: var(--accent-brand-color);
  background-image: url("assets/images/peppermint_naked_featured.webp");
  background-size: contain;
}

.organic-earl-grey {
  background-color: var(--display-brand-color);
  background-image: url("assets/images/Naked_Tea.webp");
  background-size: contain;
}

.herbal-tea-trio {
  background-color: var(--brand-testimonials-light-yellow);
  background-image: url("assets/images/bundle-herbal-tea-trio-featured-image.webp");
  background-size: contain;
}

.classic-bamboo-tea-card {
  background-color: var(--display-brand-color);
  background-image: url("assets/images/Bamboo_Tea_Chest.webp");
  background-size: contain;
}

.nice-matcha-tea-card {
  background-color: var(--brand-testimonials-green);
  background-image: url("assets/images/Latte_Mix.webp");
  background-size: contain;
}

.nice-chai-tea-card {
  background-color: var(--natural-brand-dark-color);
  background-image: url("assets/images/Latte_Mix_b400f40c-730f-4122-9058-cfc4e5bf8faf.webp");
  background-size: contain;
}

.organic-mountain-chai-card {
  background-color: var(--natural-brand-light-color);
  background-image: url("assets/images/organic_high_mountain_chai_tea_sachet_featured.webp");
  background-size: contain;
}

.alpine-berry-card{
  background-color: var(--display-brand-color);
  background-image: url("assets/images/alpine_berry_naked_featured.webp");
  background-size: contain;
}
