@font-face {
  font-family: font-primary;
  src: url(assets/fonts/RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
  font-family: font-secondary;
  src: url(assets/fonts/midnight-sans-rd-12-medium-trial.otf);
}

@font-face {
  font-family: font-accent;
  src: url(assets/fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: font-display;
  src: url(assets/fonts/figtree.woff2);
}

:root {
  /*------------- colors -------------*/
  --primary-cta-color: #2a2857;
  --primary-brand-color: #c1ee91;
  --primary-brand-dark-color: #c0e571;
  --secondary-brand-color: #c8e892;
  --accent-brand-color: #b0e8c1;
  --display-brand-color: #c0dbff;
  --natural-brand-dark-color: #ffcb96;
  --natural-brand-light-color: #ffd1b8;
  --natural-brand-light-yellow: #ffd884;
  --lavender-brand-tag: #daaeea;
  --orange-brand-tag: #ff7f31;
  --green-brand-tag: #73bc25;
  --gold-brand-tag: #ffb500;

  --brand-testimonials-light-orange: #f5af8a;
  --brand-testimonials-green: #abdf74;
  --brand-testimonials-light-yellow: #ffd265;
  --brand-testimonials-light-green: #ade674;
  --brand-testimonials-lavender: #d9c2e1;

  --testimonials-footer-red: #ea6d44;
  --testimonials-footer-green: #73bc25;
  --testimonials-footer-gold: #ffb500;
  --testimonials-footer-lavender: #c790db;

  /*------------- padding ------------*/
  --cta-btn-padding: 1rem 4rem;
  --brand-tag-padding: 5px;
  --brand-explore-padding: 8px 15px;
  --product-card-category-padding: 8px;
  /*------------ font-size -----------*/
  --cta-btn-font-size: 1.2rem;
  --product-card-category-font-size: clamp(1.5rem, 2vw, 2rem);
  /*-------------- font-weight ----------*/
  --cta-btn-font-weight: 400;
  --product-card-category-font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #fbf9eb;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.announcement-bar {
  background-color: #2a2857;
  height: calc(100% - 96%);
  width: 100%;
  color: white;
  font-family: font-accent;
  font-weight: 600;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
}

/*------------------ Navbar ------------------*/

nav {
  height: 12%;
  width: 100%;
  padding: 15px 15px;
  position: fixed;
  top: calc(100% - 96%);
  z-index: 10;
}

.navbar {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  border: 1.5px solid black;
  background-color: #fffefb;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*--------------------- Nav-Items-Left ------------------*/

.nav-links {
  height: 100%;
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, 1.5rem, 2rem);
}

.nav-items-left {
  height: 100%;
  width: clamp(10rem, 40vw, 50rem);
  font-family: font-primary;
  padding-left: 1.5rem;
  font-size: clamp(1rem, 1.8vw, 2rem);
}

.nav-items span {
  border-radius: 50%;
  background-color: #c0dbff;
  border: 1.5px solid black;
}

.nav-links a {
  text-decoration: none;
  color: black;
}

.nav-review span {
  border: none;
  background-color: transparent;
}

.nav-review i {
  color: #ffb500;
}

.nav-logo {
  height: 100%;
  width: clamp(5rem, 6vw, 12rem);
}

.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding: 8px 0px;
}

.nav-items-right {
  height: 100%;
  width: clamp(10rem, 40vw, 50rem);
  font-family: font-accent;
  font-size: clamp(0.68rem, 0.8vw, 2.5rem);
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 1.5rem;
}

.shop-icon {
  font-size: 2rem;
}

/*--------------- main --------------*/

main {
  height: 100vh;
  width: 100%;
}

.main {
  height: calc(100vh - 5%);
  width: 100%;
  background-image: url("assets/images/cere-memorial_matcha_wide.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 1.5rem;
  padding: 40px;
}

.main-heading {
  font-size: clamp(3.5rem, 6vw, 10rem);
  font-weight: 200;
  font-family: font-primary;
}

.main-subtitle {
  font-size: 1.2rem;
  font-family: font-display;
}

.main-cta-btn {
  padding: var(--cta-btn-padding);
  font-size: var(--cta-btn-font-size);
  font-weight: var(--cta-btn-font-weight);
  background-color: var(--primary-cta-color);
  color: white;
  border-radius: 10rem;
  border: none;
  transition: 0.3s ease;
}

.main-cta-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/*--------------- Featured Card Background Colors -----------*/

.tropical-green-tea-card {
  background-color: var(--primary-brand-color);
}

.organic-ceremonial-card {
  background-color: var(--secondary-brand-color);
}

.organic-pappermint-card {
  background-color: var(--accent-brand-color);
}

.organic-earl-grey {
  background-color: var(--display-brand-color);
}

.herbal-tea-trio {
  background-color: var(--brand-testimonials-light-yellow);
}

.classic-bamboo-tea-card {
  background-color: var(--display-brand-color);
}

.nice-matcha-tea-card {
  background-color: var(--brand-testimonials-green);
}

.nice-chai-tea-card {
  background-color: var(--natural-brand-dark-color);
}

.organic-mountain-chai-card {
  background-color: var(--natural-brand-light-color);
}

.alpine-berry-card {
  background-color: var(--display-brand-color);
}

/*-------------------- featured-products-section -----------------*/

.featured-products {
  height: 160vh;
  width: 100%;
}

.featured-product-intro {
  height: 30%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-product-title {
  font-family: font-primary;
  font-size: clamp(2rem, 4vw, 7rem);
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
}

.featured-cta-tag {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-tag {
  height: clamp(3.2rem, 4.8vw, 8rem);
  border: 2px solid black;
  border-radius: 0.5rem;
  background-color: var(--lavender-brand-tag);
  padding: var(--brand-tag-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(12rem, 18vw, 40rem);
  transform: rotate(-3deg);
}

.featured-tag-title {
  font-family: font-secondary;
  font-size: clamp(2.5rem, 4vw, 6rem);
  font-weight: 700;
}

.featured-products-slider {
  height: 60%;
  overflow-x: auto;
  padding: 3rem 2rem;
  display: flex;
  gap: 2rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.featured-products-slider::-webkit-scrollbar {
  display: none;
}

.product-card {
  height: clamp(25rem, 72vh, 50rem);
  width: clamp(22.5rem, 22vw, 60rem);
  flex-shrink: 0;
  padding: 10px;
}

.featured-card-info {
  position: relative;
}

.product-card-image {
  min-height: 25rem;
  width: 100%;
  border-radius: 0.8rem;
  border: 1px solid black;
}

.product-card-image img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 1/1;
  transition: 0.2s ease-in;
  scale: 0.8;
}

.product-card:hover .product-card-image img {
  scale: 0.88;
}

.product-card-category {
  background-color: #fff;
  height: 3rem;
  width: fit-content;
  padding: var(--product-card-category-padding);
  border: 1px solid black;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card-category p {
  font-family: font-secondary;
  font-size: var(--product-card-category-font-size);
  font-weight: var(--product-card-category-font-weight);
}

.product-rating {
  position: absolute;
  top: 0.875rem;
  right: 0.875rem;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  word-spacing: -10px;
}

.rating {
  font-family: font-accent;
  font-size: 1rem;
}

.rating-star {
  font-size: 0.9rem;
}

.featured-cta-btn {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-add-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: fit-content;
  padding: 10px 15px;
  position: absolute;
  bottom: 0.875rem;
  right: 0.875rem;
  border: 1px solid black;
  border-radius: 10px;
  transition: 0.3s ease;
}

.product-add-btn:hover {
  background-color: var(--primary-cta-color);
  color: white;
  cursor: pointer;
}

.product-add-btn i {
  font-size: 1.3rem;
}

.product-add-btn p {
  font-family: font-accent;
  font-size: 1rem;
}

/*----------------- product-description ------------------*/

.product-card-description {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 0px;
}

.product-card-title h3 {
  font-family: font-primary;
  font-size: clamp(1.5rem, 1.6vw, 2rem);
  font-weight: 200;
  margin-bottom: 1rem;
}

.product-card-pricing .price {
  font-family: font-display;
  font-size: clamp(1rem, 1vw, 2rem);
  margin-bottom: .3rem;
}

.product-description p{
  font-family: font-display;
  font-size: clamp(1.05rem, 1vw, 2rem);
  opacity: .7;
}

.explore-teas {
  padding: var(--cta-btn-padding);
  font-size: var(--cta-btn-font-size);
  font-weight: var(--cta-btn-font-weight);
  background-color: var(--primary-cta-color);
  color: white;
  border-radius: 10rem;
  border: none;
  transition: 0.3s ease;
}

.explore-teas:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}


